.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 44px);
}

.welcome-text-block {
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-form-block {
  width: 35rem;
  background: rgb(229, 229, 229);
  border-radius: 5px;
  box-shadow: 0 0 8px 3px lightgrey;
  border: 1px solid rgb(212, 211, 211);
}

.login-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.login-form-btn-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form-registration {
  margin: 0;
  font-size: 14px;
}

.login-form-btn-block button {
  margin: 10px;
  width: 150px;
}

.login-form-input {
  margin-top: 10px;
  width: 47%;
}
